

.filter-white{
    width:150px;
    filter: 
    drop-shadow(1px 1px 0 rgb(255, 0, 0))
    hue-rotate(180deg)
    drop-shadow(1px 1px 0 rgb(94, 15, 15))
    invert(100%)
    sepia(0%);
}

.borderless{
    margin: 0.5%;
    width: 50%;
    border: none;
    height: 10%;
    font-size: 60;
    padding: 1.2%;
    transition: 1s;
    
}
.borderless:hover{
    border-bottom: 1px solid #252525;
    background-color: #fafafa;
}
.borderless:focus{
    outline:none;
}